<!-- gestion_blog/templates/gestion_blog/add_post.html -->
{% load static %}
<head>

<link rel="stylesheet" href="{% static 'gestion_blog/styles.css' %}">
{% include 'gestion_blog/base.html' %}


</head>
{% block title %}Add New Post{% endblock %}

{% block header %}
 <h4> Welcome to My add_post </h4>
  <br>
{% endblock %}


{% block content %}
    <form method="post" action="{% url 'add_post' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Post</button>
    </form>
{% endblock %}
