<!-- gestion_blog/templates/gestion_blog/add_comment.html -->
{% load static %}
<head>

<link rel="stylesheet" href="{% static 'gestion_blog/styles.css' %}">
{% include 'gestion_blog/base.html' %}


</head>
{% block header %}
 <h4> Welcome to My add_comment </h4>
{% endblock %}

{% block content %}
  <h1>Add Comment</h1>
  <p>Post: {{ post.title }}</p>
  <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Comment</button>
  </form>
{% endblock %}
