<!-- gestion_blog/templates/gestion_blog/base.html -->

<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion de Blog{% endblock %}</title>
    <!-- Add your CSS styles or include external stylesheets here -->
    <link rel="stylesheet" href="{% static 'gestion_blog/styles.css' %}">
    

</head>
<body>
    {% block header %}
    <h1>Welcome to My Blog : Forum</h1>
    <br>
  {% endblock %}
  <nav>
    <a href="{% url 'post_list' %}" class="button">Posts</a> <br>
    {% if user.is_authenticated %}
        <a href="{% url 'add_post' %}" class="button">Add Post</a> <br>
        <a href="{% url 'profile' %}" class="button">Profile</a> <br>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form> <br>
    {% else %}
        <a href="{% url 'login' %}" class="button">Login</a> <br>
        <a href="{% url 'register' %}" class="button">Register</a>
    {% endif %}
  </nav>
    

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Add footer content here -->
    </footer>

    <!-- Add your JavaScript scripts or include external scripts here -->

</body>
</html>
