<!-- gestion_blog/templates/gestion_blog/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion de Blog{% endblock %}</title>
    <!-- Add your CSS styles or include external stylesheets here -->
</head>
<body>

    <header>
        <h1>Gestion de Blog</h1>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'add_post' %}">Add Post</a>

        <!-- Add navigation or other header content here -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Add footer content here -->
    </footer>

    <!-- Add your JavaScript scripts or include external scripts here -->

</body>
</html>
