<!-- gestion_blog/templates/gestion_blog/login.html -->
{% load static %}

<head>

    <link rel="stylesheet" href="{% static 'gestion_blog/styles.css' %}">
    {% include 'gestion_blog/base.html' %}


</head>
{% block header %}
<h4> Welcome to My Login </h4>
<br>
{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
{% endblock %}

{% load static %}
        <!-- Link your custom CSS file -->
        <link rel="stylesheet" type="text/css" href="{% static 'gestion_blog/css/styles.css' %}">