<!-- gestion_blog/templates/gestion_blog/post_list.html -->


{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Blog Title</title>

    <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="{% static 'gestion_blog/styles.css' %}">
    {% include 'gestion_blog/base.html' %}

</head>
{% block header %}
 <h4> Welcome to My post Lists </h4>
  <br>
{% endblock %}

{% block content %}

    {% for post in posts %}
        <div class="post-container">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <!-- Link to view the post details -->
            <a href="{% url 'post_detail' slug=post.slug %}">View Post</a>
            <!-- Link to add comments for the current post -->
            <a href="{% url 'add_comment' slug=post.slug %}" target="_blank">Add Comment</a>
        </div>
        <hr>
    {% endfor %}

{% endblock %}
