<!-- gestion_blog/templates/gestion_blog/post_detail.html -->


{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }} - Your Blog Title</title>

    <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="{% static 'gestion_blog/styles.css' %}">
    {% include 'gestion_blog/base.html' %}

</head>

{% block header %}
<h4> Welcome to post_detail </h4>
<br>
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>
  <p>Author: {{ post.author.username }}</p>
  <p>Published on: {{ post.pub_date }}</p>

  <h2>Comments</h2>
  {% for comment in comments %}
    <p>{{ comment.text }} - by {{ comment.author.username }} on {{ comment.pub_date }}</p>
  {% endfor %}

  <h2>Add a Comment</h2>
  <form method="post" action="{% url 'add_comment' slug=post.slug %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Comment</button>
  </form>
{% endblock %}
