{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Blog Title</title>

    <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="{% static 'gestion_blog/styles.css' %}">
    {% include 'gestion_blog/base.html' %}

</head>
<body>
    {% block header %}
    <h4> Welcome to My post Lists </h4>
    <br>
    {% endblock %}

    {% block content %}

    {% for post in posts %}
        <div class="post-container">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <!-- Link to view the post details -->
            <a href="{% url 'post_detail' slug=post.slug %}">View Post</a>
            <!-- Link to add comments for the current post -->
            <a href="{% url 'add_comment' slug=post.slug %}" target="_blank">Add Comment</a>
            <!-- Like button -->
            <button class="like-button" data-post-slug="{{ post.slug }}">Like</button>
            <a href="{% url 'send_message' recipient_username=user.username %}">Send Message</a>
            <a href="{% url 'view_messages' %}">View Messages</a>
        </div>
        <hr>
    {% endfor %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const likeButtons = document.querySelectorAll('.like-button');
    
            likeButtons.forEach(likeButton => {
                likeButton.addEventListener('click', async function () {
                    const postSlug = this.dataset.postSlug;
                    const response = await fetch(`/like/${postSlug}/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        body: JSON.stringify({}),
                    });
    
                    const data = await response.json();
                    // Handle the response as needed, e.g., update UI
                    console.log(data);
                });
            });
        });
    </script>

    {% endblock %}
</body>
</html>
